<!-- Contato -->
<section id="contato">
    <h2>Contato</h2>
    <div class="contato-container">

        <div class="contato-card">
            <h3>📞 Telefone</h3>
            <p>+55 54 3217-3063 </p>
        </div>

        <div class="contato-card">
            <h3>💬 WhatsApp</h3>
            <p><a href="https://wa.me/+55 54 3217-3063" target="_blank">Clique aqui para conversar</a></p>
        </div>

        <div class="contato-card">
            <h3>📸 Instagram</h3>
            <p><a href="https://www.instagram.com/mecanica.thome08?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">@suaoficina</a></p>
        </div>

        <div class="contato-card">
            <h3>📍 Localização</h3>
            <p><a href="Rua Alvício Oliveira, 768 - Desvio Rizzo, Caxias do Sul 95110-070" target="_blank">Ver no Google Maps</a></p>
        </div>

    </div>
</section>
